:root {
  --color-text: #1d1d1d;
  --color-background: white;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  z-index: 0;
}

* + * {
  margin-top: 2rem;
}

body {
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-background);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a[class] {
  background-color: transparent;
  text-decoration-skip-ink: auto;
}

b,
strong {
  font-weight: 700;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono", "Liberation Mono", Menlo, Courier, monospace;
  font-size: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button,
input {
  overflow: visible;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

table {
  border-collapse: collapse;
  width: 100%;
}

dt {
  font-weight: 700;
}

th {
  font-weight: 700;
}

blockquote {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

code,
tt {
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono", "Liberation Mono", Menlo, Courier, monospace;
}

ul,
ol {
  list-style-position: outside;
  list-style-image: none;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

li {
  margin-left: 2.5rem;
  line-height: 1.5;
}

li + li {
  margin-top: 0.25em;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

hr {
  height: 0;
  border: none;
  border-top: 1px solid #b5b5b5;
}

main {
  margin-top: 0;
}

body *:focus:not(:active) {
  outline: none !important;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 115, 230, 0.4);
          box-shadow: 0px 0px 0px 2px rgba(0, 115, 230, 0.4);
}

.columns {
  --column-gap: 2rem;
  --column-row-count: 12;
  --column-item-width: calc(1450px / (var(--column-row-count)) - var(--column-gap));
  display: -ms-grid;
  display: grid;
  gap: var(--column-gap);
  -ms-grid-columns: (minmax(var(--column-item-width), 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(var(--column-item-width), 1fr));
  max-width: 100%;
}

* + .columns {
  margin-top: var(--column-gap);
}

.columns > * {
  --column-item-col-span: 2;
  margin: 0;
  -ms-grid-column: span var(--column-item-col-span);
      grid-column-start: span var(--column-item-col-span);
  max-width: 100%;
}

.flow {
  --flow-gap: 2rem;
  --breakpoint: 800px;
  --min-column-width: 120.83333px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(-1 * var(--flow-gap));
  margin-left: calc(-1 * var(--flow-gap));
}

* + .flow {
  margin-top: 0;
}

.flow > * {
  margin-top: var(--flow-gap);
  margin-left: var(--flow-gap);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  min-width: var(--min-column-width);
}

.flow > *.is-1 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(8.33333% - var(--flow-gap));
  min-width: calc(var(--min-column-width) * 1 - var(--flow-gap));
}

.flow > *.is-offset-1 {
  margin-left: calc(8.33333% + var(--flow-gap));
}

.flow > *.is-2 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(16.66667% - var(--flow-gap));
  min-width: calc(var(--min-column-width) * 2 - var(--flow-gap));
}

.flow > *.is-offset-2 {
  margin-left: calc(16.66667% + var(--flow-gap));
}

.flow > *.is-3 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(25% - var(--flow-gap));
  min-width: calc(var(--min-column-width) * 3 - var(--flow-gap));
}

.flow > *.is-offset-3 {
  margin-left: calc(25% + var(--flow-gap));
}

.flow > *.is-4 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(33.33333% - var(--flow-gap));
  min-width: calc(var(--min-column-width) * 4 - var(--flow-gap));
}

.flow > *.is-offset-4 {
  margin-left: calc(33.33333% + var(--flow-gap));
}

.flow > *.is-5 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(41.66667% - var(--flow-gap));
  min-width: calc(var(--min-column-width) * 5 - var(--flow-gap));
}

.flow > *.is-offset-5 {
  margin-left: calc(41.66667% + var(--flow-gap));
}

.flow > *.is-6 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(50% - var(--flow-gap));
  min-width: calc(var(--min-column-width) * 6 - var(--flow-gap));
}

.flow > *.is-offset-6 {
  margin-left: calc(50% + var(--flow-gap));
}

.flow > *.is-7 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(58.33333% - var(--flow-gap));
  min-width: calc(var(--min-column-width) * 7 - var(--flow-gap));
}

.flow > *.is-offset-7 {
  margin-left: calc(58.33333% + var(--flow-gap));
}

.flow > *.is-8 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(66.66667% - var(--flow-gap));
  min-width: calc(var(--min-column-width) * 8 - var(--flow-gap));
}

.flow > *.is-offset-8 {
  margin-left: calc(66.66667% + var(--flow-gap));
}

.flow > *.is-9 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(75% - var(--flow-gap));
  min-width: calc(var(--min-column-width) * 9 - var(--flow-gap));
}

.flow > *.is-offset-9 {
  margin-left: calc(75% + var(--flow-gap));
}

.flow > *.is-10 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(83.33333% - var(--flow-gap));
  min-width: calc(var(--min-column-width) * 10 - var(--flow-gap));
}

.flow > *.is-offset-10 {
  margin-left: calc(83.33333% + var(--flow-gap));
}

.flow > *.is-11 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(91.66667% - var(--flow-gap));
  min-width: calc(var(--min-column-width) * 11 - var(--flow-gap));
}

.flow > *.is-offset-11 {
  margin-left: calc(91.66667% + var(--flow-gap));
}

.flow > *.is-12 {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: calc(100% - var(--flow-gap));
  min-width: calc(var(--min-column-width) * 12 - var(--flow-gap));
}

.flow > *.is-offset-12 {
  margin-left: calc(100% + var(--flow-gap));
}

.section {
  --section-padding: 6rem;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  margin-top: 0;
}

.section + .section {
  margin-top: 0;
}

.section.is-xSmall {
  --section-padding: 2rem;
}

.section.is-small {
  --section-padding: 4rem;
}

.section.is-medium {
  --section-padding: 6rem;
}

.section.is-large {
  --section-padding: 8rem;
}

.section.is-xLarge {
  --section-padding: 10rem;
}

.section.is-fullheight {
  min-height: 100vh;
  --section-padding: 8rem;
}

main > .section:last-child {
  padding-bottom: 2rem;
}

.spacer {
  --spacer-height: 6rem;
  display: block;
  height: var(--spacer-height);
  margin-top: 0;
}

.spacer + * {
  margin-top: 0;
}

.spacer.is-xSmall {
  --spacer-height: 1rem;
}

.spacer.is-small {
  --spacer-height: 2rem;
}

.spacer.is-medium {
  --spacer-height: 2.5rem;
}

.spacer.is-large {
  --spacer-height: 3.5rem;
}

.spacer.is-xLarge {
  --spacer-height: 4.75rem;
}

.stack {
  --stack-gap: 2rem;
  --breakpoint: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(-1 * var(--stack-gap));
  margin-left: calc(-1 * var(--stack-gap));
}

* + .stack {
  margin-top: 0;
}

.stack.no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.stack > * {
  --stack-item-grow: 1;
  -webkit-box-flex: var(--stack-item-grow);
      -ms-flex-positive: var(--stack-item-grow);
          flex-grow: var(--stack-item-grow);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: calc(100% - var(--stack-gap));
  -ms-flex-preferred-size: calc((var(--breakpoint) - 100%) * 999);
      flex-basis: calc((var(--breakpoint) - 100%) * 999);
  margin-top: var(--stack-gap);
  margin-left: var(--stack-gap);
}

.stack > *.is-1 {
  --stack-item-grow: 0.08333;
}

.stack > *.is-2 {
  --stack-item-grow: 0.16667;
}

.stack > *.is-3 {
  --stack-item-grow: 0.25;
}

.stack > *.is-4 {
  --stack-item-grow: 0.33333;
}

.stack > *.is-5 {
  --stack-item-grow: 0.41667;
}

.stack > *.is-6 {
  --stack-item-grow: 0.5;
}

.stack > *.is-7 {
  --stack-item-grow: 0.58333;
}

.stack > *.is-8 {
  --stack-item-grow: 0.66667;
}

.stack > *.is-9 {
  --stack-item-grow: 0.75;
}

.stack > *.is-10 {
  --stack-item-grow: 0.83333;
}

.stack > *.is-11 {
  --stack-item-grow: 0.91667;
}

.stack > *.is-12 {
  --stack-item-grow: 1;
}

.stack > *.is-narrow {
  --stack-width: 1px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.is-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.is-vtop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.is-vcentered, nav.navbar, nav.navbar > *:not(:first-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.is-vbottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.is-vbaseline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.animated {
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.animated.is-shown {
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
}

.animated.is-shown.animate-slow {
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.animated.fade {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  will-change: opacity;
}

.animated.fade.is-shown {
  opacity: 1;
}

.animated.slide-up {
  opacity: 0;
  -webkit-transform: translateY(4.75rem);
          transform: translateY(4.75rem);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  will-change: transform, opacity;
}

.animated.slide-up.is-shown {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.animated.slide-down {
  opacity: 0;
  -webkit-transform: translateY(-4.75rem);
          transform: translateY(-4.75rem);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  will-change: transform, opacity;
}

.animated.slide-down.is-shown {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.animated.slide-left {
  opacity: 0;
  -webkit-transform: translateX(4.75rem);
          transform: translateX(4.75rem);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  will-change: transform, opacity;
}

.animated.slide-left.is-shown {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.animated.slide-right {
  opacity: 0;
  -webkit-transform: translateX(-4.75rem);
          transform: translateX(-4.75rem);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  will-change: transform, opacity;
}

.animated.slide-right.is-shown {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.is-1by1 {
  padding-top: 0 !important;
  padding-bottom: 100% !important;
  height: 0;
}

.is-5by4 {
  padding-top: 0 !important;
  padding-bottom: 80% !important;
  height: 0;
}

.is-4by3 {
  padding-top: 0 !important;
  padding-bottom: 75% !important;
  height: 0;
}

.is-3by2 {
  padding-top: 0 !important;
  padding-bottom: 66.6666% !important;
  height: 0;
}

.is-5by3 {
  padding-top: 0 !important;
  padding-bottom: 60% !important;
  height: 0;
}

.is-16by9 {
  padding-top: 0 !important;
  padding-bottom: 56.25% !important;
  height: 0;
}

.is-2by1 {
  padding-top: 0 !important;
  padding-bottom: 50% !important;
  height: 0;
}

.is-3by1 {
  padding-top: 0 !important;
  padding-bottom: 33.3333% !important;
  height: 0;
}

.is-4by5 {
  padding-top: 0 !important;
  padding-bottom: 125% !important;
  height: 0;
}

.is-3by4 {
  padding-top: 0 !important;
  padding-bottom: 133.3333% !important;
  height: 0;
}

.is-2by3 {
  padding-top: 0 !important;
  padding-bottom: 150% !important;
  height: 0;
}

.is-3by5 {
  padding-top: 0 !important;
  padding-bottom: 166.6666% !important;
  height: 0;
}

.is-9by16 {
  padding-top: 0 !important;
  padding-bottom: 177.7777% !important;
  height: 0;
}

.is-1by2 {
  padding-top: 0 !important;
  padding-bottom: 200% !important;
  height: 0;
}

.is-1by3 {
  padding-top: 0 !important;
  padding-bottom: 300% !important;
  height: 0;
}

.is-bordered {
  border: 1px solid #b5b5b5;
}

.has-breakpoint-none {
  --breakpoint: 1px !important;
}

.has-breakpoint-xSmall {
  --breakpoint: 20rem !important;
}

.has-breakpoint-small {
  --breakpoint: 30rem !important;
}

.has-breakpoint-medium {
  --breakpoint: 40rem !important;
}

.has-breakpoint-large {
  --breakpoint: 50rem !important;
}

.has-breakpoint-xLarge {
  --breakpoint: 60rem !important;
}

.is-clipped {
  overflow: hidden;
}

.is-primary {
  --color-background: #0073e6;
  --color-text: white;
  background-color: var(--color-background);
  color: var(--color-text);
}

.is-highlight {
  --color-background: #ff8200;
  --color-text: #1d1d1d;
  background-color: var(--color-background);
  color: var(--color-text);
}

.is-success {
  --color-background: #008a00;
  --color-text: white;
  background-color: var(--color-background);
  color: var(--color-text);
}

.is-warning {
  --color-background: #fcce00;
  --color-text: #1d1d1d;
  background-color: var(--color-background);
  color: var(--color-text);
}

.is-error {
  --color-background: #eb0000;
  --color-text: white;
  background-color: var(--color-background);
  color: var(--color-text);
}

.is-dark {
  --color-background: #242424;
  --color-text: white;
  background-color: var(--color-background);
  color: var(--color-text);
}

.is-gray {
  --color-background: #757575;
  --color-text: white;
  background-color: var(--color-background);
  color: var(--color-text);
}

.is-gray-dark {
  --color-background: #4a4a4a;
  --color-text: white;
  background-color: var(--color-background);
  color: var(--color-text);
}

.is-gray-light {
  --color-background: #b5b5b5;
  --color-text: #1d1d1d;
  background-color: var(--color-background);
  color: var(--color-text);
}

.is-light {
  --color-background: #f5f5f7;
  --color-text: #1d1d1d;
  background-color: var(--color-background);
  color: var(--color-text);
}

.is-white {
  --color-background: white;
  --color-text: #1d1d1d;
  background-color: var(--color-background);
  color: var(--color-text);
}

.is-dark-purple {
  --color-background: #2e1d7d;
  --color-text: white;
  background-color: var(--color-background);
  color: var(--color-text);
}

.is-indigo {
  --color-background: #622aff;
  --color-text: #1d1d1d;
  background-color: var(--color-background);
  color: var(--color-text);
}

.is-pink {
  --color-background: #e94256;
  --color-text: #1d1d1d;
  background-color: var(--color-background);
  color: var(--color-text);
}

.is-red {
  --color-background: #eb0000;
  --color-text: white;
  background-color: var(--color-background);
  color: var(--color-text);
}

.is-green {
  --color-background: #008a00;
  --color-text: white;
  background-color: var(--color-background);
  color: var(--color-text);
}

.is-blue {
  --color-background: #0073e6;
  --color-text: white;
  background-color: var(--color-background);
  color: var(--color-text);
}

.is-orange {
  --color-background: #ff8200;
  --color-text: #1d1d1d;
  background-color: var(--color-background);
  color: var(--color-text);
}

.is-yellow {
  --color-background: #fcce00;
  --color-text: #1d1d1d;
  background-color: var(--color-background);
  color: var(--color-text);
}

.is-transparent {
  --color-background: transparent;
  --color-text: white;
  background-color: var(--color-background);
  color: var(--color-text);
}

.is-rounded {
  border-radius: 0.5rem;
}

.has-shadow, nav.navbar > *.is-active:not(:first-child) {
  -webkit-box-shadow: 0 0.5em 1em -0.125em rgba(36, 36, 36, 0.1), 0 0px 0 1px rgba(36, 36, 36, 0.02);
          box-shadow: 0 0.5em 1em -0.125em rgba(36, 36, 36, 0.1), 0 0px 0 1px rgba(36, 36, 36, 0.02);
  border: 1px solid #f5f5f7;
}

.splitter, nav.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.splitter > *, nav.navbar > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-top: 0;
}

.is-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
}

h1 {
  font-weight: 600;
  font-size: 4.75rem;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.pretitle + h1 {
  margin-top: 0.1em;
}

h2 {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.1;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.pretitle + h2 {
  margin-top: 0.2em;
}

h3 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.2;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.pretitle + h3 {
  margin-top: 0.3em;
}

h4 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.3;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.pretitle + h4 {
  margin-top: 0.4em;
}

h5 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.pretitle + h5 {
  margin-top: 0.5em;
}

h6 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.pretitle + h6 {
  margin-top: 0.6em;
}

.pretitle {
  font-size: 1.25rem;
  font-weight: 700;
}

.subtitle {
  margin-top: 0;
}

.half-margin {
  margin-top: 1rem;
}

ul.is-unstyled,
ol.is-unstyled {
  list-style: none;
}

ul.is-unstyled li,
ol.is-unstyled li {
  margin-left: 0;
}

.has-text-left {
  text-align: left;
}

.has-text-centered {
  text-align: center;
}

.has-text-right {
  text-align: right;
}

.has-text-justified {
  text-align: justify;
}

.has-text-caps {
  text-transform: uppercase;
  letter-spacing: 0.25ch;
}

.no-wrap {
  white-space: nowrap;
}

.has-text-balanced {
  text-wrap: balance;
}

.has-text-balanced.has-text-centered {
  margin-left: auto;
  margin-right: auto;
}

.is-size-1 {
  font-size: 4.75rem;
}

.is-size-2 {
  font-size: 3.5rem;
}

.is-size-3 {
  font-size: 2.5rem;
}

.is-size-4 {
  font-size: 2rem;
}

.is-size-5 {
  font-size: 1.5rem;
}

.is-size-6 {
  font-size: 1.25rem;
}

.is-size-7 {
  font-size: 1rem;
}

.is-size-8 {
  font-size: 0.75rem;
}

.has-font-weight-black {
  font-weight: black;
}

.has-font-weight-bold {
  font-weight: 700;
}

.has-font-weight-normal {
  font-weight: normal;
}

.has-font-weight-light {
  font-weight: lighter;
}

.has-text-primary {
  color: #0073e6;
}

.has-text-highlight {
  color: #ff8200;
}

.has-text-success {
  color: #008a00;
}

.has-text-warning {
  color: #fcce00;
}

.has-text-error {
  color: #eb0000;
}

.has-text-dark {
  color: #242424;
}

.has-text-gray {
  color: #757575;
}

.has-text-gray-dark {
  color: #4a4a4a;
}

.has-text-gray-light {
  color: #b5b5b5;
}

.has-text-light {
  color: #f5f5f7;
}

.has-text-white {
  color: white;
}

.has-text-dark-purple {
  color: #2e1d7d;
}

.has-text-indigo {
  color: #622aff;
}

.has-text-pink {
  color: #e94256;
}

.has-text-red {
  color: #eb0000;
}

.has-text-green {
  color: #008a00;
}

.has-text-blue {
  color: #0073e6;
}

.has-text-orange {
  color: #ff8200;
}

.has-text-yellow {
  color: #fcce00;
}

.has-text-transparent {
  color: transparent;
}

a {
  text-decoration: none;
  color: #0073e6;
}

a.no-color {
  color: inherit;
}

a.no-color:hover {
  color: #0073e6;
}

a:not(.button) {
  position: relative;
}

a:not(.button):not(.no-color):hover {
  text-decoration: underline;
}

a:not(.button).is-cta {
  margin-right: 0.8em;
  white-space: nowrap;
}

a:not(.button).is-cta:after {
  content: '';
  display: inline-block;
  position: absolute;
  right: -0.8em;
  bottom: 0.3em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 0.35em;
  width: 0.35em;
  border-width: 0.1em;
  border-style: solid;
  border-left: none;
  border-bottom: none;
}

a:not(.button).is-cta.is-previous {
  margin-left: 0.8em;
  margin-right: 0;
}

a:not(.button).is-cta.is-previous:after {
  content: none;
}

a:not(.button).is-cta.is-previous:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -0.8em;
  bottom: 0.3em;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  height: 0.35em;
  width: 0.35em;
  border-width: 0.1em;
  border-style: solid;
  border-left: none;
  border-bottom: none;
}

.has-underline-primary {
  border-bottom: 0.1em solid #0073e6;
}

.has-underline-highlight {
  border-bottom: 0.1em solid #ff8200;
}

.has-underline-success {
  border-bottom: 0.1em solid #008a00;
}

.has-underline-warning {
  border-bottom: 0.1em solid #fcce00;
}

.has-underline-error {
  border-bottom: 0.1em solid #eb0000;
}

.has-underline-dark {
  border-bottom: 0.1em solid #242424;
}

.has-underline-gray {
  border-bottom: 0.1em solid #757575;
}

.has-underline-gray-dark {
  border-bottom: 0.1em solid #4a4a4a;
}

.has-underline-gray-light {
  border-bottom: 0.1em solid #b5b5b5;
}

.has-underline-light {
  border-bottom: 0.1em solid #f5f5f7;
}

.has-underline-white {
  border-bottom: 0.1em solid white;
}

.has-underline-dark-purple {
  border-bottom: 0.1em solid #2e1d7d;
}

.has-underline-indigo {
  border-bottom: 0.1em solid #622aff;
}

.has-underline-pink {
  border-bottom: 0.1em solid #e94256;
}

.has-underline-red {
  border-bottom: 0.1em solid #eb0000;
}

.has-underline-green {
  border-bottom: 0.1em solid #008a00;
}

.has-underline-blue {
  border-bottom: 0.1em solid #0073e6;
}

.has-underline-orange {
  border-bottom: 0.1em solid #ff8200;
}

.has-underline-yellow {
  border-bottom: 0.1em solid #fcce00;
}

.has-underline-transparent {
  border-bottom: 0.1em solid transparent;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.is-hidden {
  display: none;
}

.is-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.wrapper {
  --wrapper-padding-calculated: max(
        calc((100% - var(--wrapper-width, 1450px)) / 2),
        var(--wrapper-padding, 2rem)
    );
  padding-left: var(--wrapper-padding-calculated);
  padding-right: var(--wrapper-padding-calculated);
}

.wrapper[data-text='true'] {
  --wrapper-width: 60ch;
}

.box, nav.navbar > *.is-active:not(:first-child) {
  --box-padding: 2.5rem;
  border-radius: 0.5rem;
  padding: var(--box-padding);
  overflow: hidden;
}

.box.is-xSmall, nav.navbar > .is-xSmall.is-active:not(:first-child) {
  --box-padding: 1rem;
}

.box.is-small, nav.navbar > .is-small.is-active:not(:first-child) {
  --box-padding: 2rem;
}

.box.is-medium, nav.navbar > .is-medium.is-active:not(:first-child) {
  --box-padding: 2.5rem;
}

.box.is-large, nav.navbar > .is-large.is-active:not(:first-child) {
  --box-padding: 3.5rem;
}

.box.is-xLarge, nav.navbar > .is-xLarge.is-active:not(:first-child) {
  --box-padding: 4.75rem;
}

.box.is-link, nav.navbar > .is-link.is-active:not(:first-child) {
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  text-decoration: none !important;
}

.box.is-link:hover, nav.navbar > .is-link.is-active:hover:not(:first-child) {
  color: white;
  background: #0073e6;
}

.box img.full-width, nav.navbar > *.is-active:not(:first-child) img.full-width {
  margin-left: calc(-1 * var(--box-padding));
  width: calc(100% + 2 * var(--box-padding));
  max-width: none;
}

.box img.full-width:first-child, nav.navbar > *.is-active:not(:first-child) img.full-width:first-child {
  margin-top: calc(-1 * var(--box-padding));
}

.box img.full-width:last-child, nav.navbar > *.is-active:not(:first-child) img.full-width:last-child {
  margin-bottom: calc(-1 * var(--box-padding) - 0.5rem);
}

a.button,
button.button {
  --button-color: var(--color-background, transparent);
  background-color: var(--button-color);
  border-radius: 0.5rem;
  padding: 0.5em 1em;
  border: 1px solid #b5b5b5;
  color: inherit;
  white-space: nowrap;
  text-decoration: none;
}

a.button:focus,
button.button:focus {
  outline: none !important;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 115, 230, 0.4);
          box-shadow: 0px 0px 0px 2px rgba(0, 115, 230, 0.4);
}

a.button:hover,
button.button:hover {
  cursor: pointer;
}

a.button.is-primary,
button.button.is-primary {
  border-color: var(--button-color);
  color: white;
}

a.button.is-primary:hover,
button.button.is-primary:hover {
  border-color: #0180ff;
  background-color: #0180ff;
}

a.button.is-highlight,
button.button.is-highlight {
  border-color: var(--button-color);
  color: #1d1d1d;
}

a.button.is-highlight:hover,
button.button.is-highlight:hover {
  border-color: #ff8f1a;
  background-color: #ff8f1a;
}

a.button.is-success,
button.button.is-success {
  border-color: var(--button-color);
  color: white;
}

a.button.is-success:hover,
button.button.is-success:hover {
  border-color: #00a400;
  background-color: #00a400;
}

a.button.is-warning,
button.button.is-warning {
  border-color: var(--button-color);
  color: #1d1d1d;
}

a.button.is-warning:hover,
button.button.is-warning:hover {
  border-color: #ffd517;
  background-color: #ffd517;
}

a.button.is-error,
button.button.is-error {
  border-color: var(--button-color);
  color: white;
}

a.button.is-error:hover,
button.button.is-error:hover {
  border-color: #ff0606;
  background-color: #ff0606;
}

a.button.is-dark,
button.button.is-dark {
  border-color: var(--button-color);
  color: white;
}

a.button.is-dark:hover,
button.button.is-dark:hover {
  border-color: #313131;
  background-color: #313131;
}

a.button.is-gray,
button.button.is-gray {
  border-color: var(--button-color);
  color: white;
}

a.button.is-gray:hover,
button.button.is-gray:hover {
  border-color: #828282;
  background-color: #828282;
}

a.button.is-gray-dark,
button.button.is-gray-dark {
  border-color: var(--button-color);
  color: white;
}

a.button.is-gray-dark:hover,
button.button.is-gray-dark:hover {
  border-color: #575757;
  background-color: #575757;
}

a.button.is-gray-light,
button.button.is-gray-light {
  border-color: var(--button-color);
  color: #1d1d1d;
}

a.button.is-gray-light:hover,
button.button.is-gray-light:hover {
  border-color: #c2c2c2;
  background-color: #c2c2c2;
}

a.button.is-light,
button.button.is-light {
  border-color: var(--button-color);
  color: #1d1d1d;
}

a.button.is-light:hover,
button.button.is-light:hover {
  border-color: white;
  background-color: white;
}

a.button.is-white,
button.button.is-white {
  border-color: var(--button-color);
  color: #1d1d1d;
}

a.button.is-white:hover,
button.button.is-white:hover {
  border-color: white;
  background-color: white;
}

a.button.is-dark-purple,
button.button.is-dark-purple {
  border-color: var(--button-color);
  color: white;
}

a.button.is-dark-purple:hover,
button.button.is-dark-purple:hover {
  border-color: #362292;
  background-color: #362292;
}

a.button.is-indigo,
button.button.is-indigo {
  border-color: var(--button-color);
  color: #1d1d1d;
}

a.button.is-indigo:hover,
button.button.is-indigo:hover {
  border-color: #7544ff;
  background-color: #7544ff;
}

a.button.is-pink,
button.button.is-pink {
  border-color: var(--button-color);
  color: #1d1d1d;
}

a.button.is-pink:hover,
button.button.is-pink:hover {
  border-color: #ec596a;
  background-color: #ec596a;
}

a.button.is-red,
button.button.is-red {
  border-color: var(--button-color);
  color: white;
}

a.button.is-red:hover,
button.button.is-red:hover {
  border-color: #ff0606;
  background-color: #ff0606;
}

a.button.is-green,
button.button.is-green {
  border-color: var(--button-color);
  color: white;
}

a.button.is-green:hover,
button.button.is-green:hover {
  border-color: #00a400;
  background-color: #00a400;
}

a.button.is-blue,
button.button.is-blue {
  border-color: var(--button-color);
  color: white;
}

a.button.is-blue:hover,
button.button.is-blue:hover {
  border-color: #0180ff;
  background-color: #0180ff;
}

a.button.is-orange,
button.button.is-orange {
  border-color: var(--button-color);
  color: #1d1d1d;
}

a.button.is-orange:hover,
button.button.is-orange:hover {
  border-color: #ff8f1a;
  background-color: #ff8f1a;
}

a.button.is-yellow,
button.button.is-yellow {
  border-color: var(--button-color);
  color: #1d1d1d;
}

a.button.is-yellow:hover,
button.button.is-yellow:hover {
  border-color: #ffd517;
  background-color: #ffd517;
}

a.button.is-transparent,
button.button.is-transparent {
  border-color: var(--button-color);
  color: white;
}

a.button.is-transparent:hover,
button.button.is-transparent:hover {
  border-color: rgba(13, 13, 13, 0);
  background-color: rgba(13, 13, 13, 0);
}

a.button[data-variant='outline'],
button.button[data-variant='outline'] {
  background-color: transparent;
  color: inherit;
}

a.button[data-variant='outline']:hover,
button.button[data-variant='outline']:hover {
  background-color: transparent;
}

a.button.is-cta,
button.button.is-cta {
  padding: 0.6em 1.5em;
  display: inline-block;
}

* + a.button.is-cta, * +
button.button.is-cta {
  margin-top: 1.5em;
}

a.button.is-social,
button.button.is-social {
  padding: 0;
  margin: 0;
  height: 3.5rem;
  width: 3.5rem;
  position: relative;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

a.button.is-social svg,
button.button.is-social svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 1em;
}

a.button.is-social svg path,
button.button.is-social svg path {
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  fill: #4a4a4a;
}

a.button.is-social:hover,
button.button.is-social:hover {
  background: #0073e6;
  border-color: #0073e6;
}

a.button.is-social:hover svg path,
button.button.is-social:hover svg path {
  fill: white;
}

.label {
  font-weight: 700;
  font-size: 1.25rem;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  width: 100%;
  display: block;
  border-radius: 0.5rem;
  border: 1px solid #b5b5b5;
  font-weight: normal;
  padding: 0.25em 0.75em;
  font-size: 1.25rem;
}

.label > input[type='text'], .label >
input[type='email'], .label >
input[type='password'], .label >
textarea {
  margin-top: 0.5rem;
}

input[type='text']:hover,
input[type='email']:hover,
input[type='password']:hover,
textarea:hover {
  border: 1px solid #b5b5b5;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
textarea:focus {
  border: 1px solid #0073e6;
}

input[type='text'].is-small,
input[type='email'].is-small,
input[type='password'].is-small,
textarea.is-small {
  font-size: 0.75rem;
}

form[data-submitted='true'] input[type='text']:not(:placeholder-shown):invalid,
form[data-submitted='true'] input[type='text']:required:placeholder-shown, form[data-submitted='true']
input[type='email']:not(:placeholder-shown):invalid,
form[data-submitted='true']
input[type='email']:required:placeholder-shown, form[data-submitted='true']
input[type='password']:not(:placeholder-shown):invalid,
form[data-submitted='true']
input[type='password']:required:placeholder-shown, form[data-submitted='true']
textarea:not(:placeholder-shown):invalid,
form[data-submitted='true']
textarea:required:placeholder-shown {
  color: #eb0000;
  border-color: #eb0000;
}

textarea {
  min-height: 8rem;
  line-height: 1.5;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.field + .field {
  margin-top: 0.8rem;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

nav.navbar {
  --navbar-gap: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav.navbar > * {
  margin: 0;
}

nav.navbar > * a {
  text-decoration: none !important;
  color: inherit;
}

nav.navbar > * a + a {
  margin-left: var(--navbar-gap);
}

nav.navbar > *:first-child {
  z-index: 29;
}

nav.navbar > *:first-child a {
  font-weight: bold;
  font-size: 1.5rem;
}

nav.navbar > *:not(:first-child) a {
  font-size: 1rem;
  margin-top: 0;
}

nav.navbar > *:not(:first-child) .hamburger {
  --hamburger-color: #4a4a4a;
  --hamburger-thickness: 3px;
  --hamburger-width: 2rem;
  --hamburger-height: calc(var(--hamburger-width) * 0.8);
  display: none;
  cursor: pointer;
  width: var(--hamburger-width);
  height: calc(var(--hamburger-height));
  border-bottom: var(--hamburger-thickness) solid var(--hamburger-color);
  border-top: var(--hamburger-thickness) solid var(--hamburger-color);
  position: relative;
  margin-top: 0;
}

nav.navbar > *:not(:first-child) .hamburger:before {
  opacity: 0;
}

nav.navbar > *:not(:first-child) .hamburger:before, nav.navbar > *:not(:first-child) .hamburger:after {
  content: '';
  width: 100%;
  border-bottom: var(--hamburger-thickness) solid var(--hamburger-color);
  position: absolute;
  left: 0;
  bottom: calc(var(--hamburger-height) / 2 - var(--hamburger-thickness) * 1.5);
}

nav.navbar > *:not(:first-child).is-active {
  background: white;
  position: absolute;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: calc(2rem - var(--box-padding));
  left: 0;
  width: 100vw;
}

nav.navbar > *:not(:first-child).is-active * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1;
          flex: 0 0 1;
  margin: 0;
}

nav.navbar > *:not(:first-child).is-active a {
  display: block;
}

nav.navbar > *:not(:first-child).is-active .hamburger {
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-color: transparent;
}

nav.navbar > *:not(:first-child).is-active .hamburger:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 1;
}

nav.navbar > *:not(:first-child).is-active .hamburger:before {
  opacity: 1;
}

@media (max-width: 40rem) {
  nav.navbar > *:not(:first-child) a {
    display: none;
  }
  nav.navbar > *:not(:first-child) .hamburger {
    display: block;
  }
}

table {
  border-radius: 0.5rem;
  border-style: hidden;
  -webkit-box-shadow: 0 0 0 1px #b5b5b5;
          box-shadow: 0 0 0 1px #b5b5b5;
}

table td,
table th {
  padding: 1rem !important;
}

table td {
  border: 1px solid #b5b5b5;
}

#background-earth {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/images/earth.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/earth.jpg");
  background-size: cover;
  background-position: top left;
}
/*# sourceMappingURL=styles.css.map */